<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/bootstrap.css">

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(to right, #141e30, #243b55);
            color: #fff;
        }

        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Welcome to Menu</h1>
        <a href="/products" class="btn btn-primary">View Products</a>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>

</html>